body{
    background: #352F44;
    height: 100vh;
    width: 100vw;
}
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 0px;
  grid-template-areas:
    "itemTxt itemTxt itemTxt itemTxt"
    "ItemBody ItemBody ItemBody ItemBody"
    "ItemBody ItemBody ItemBody ItemBody";
}
.itemTxt { 
    align-items: center;
    display: flex;
    grid-area: itemTxt;
    justify-content: center; 
}
.txt{
    color: #F6E9E9;
    font-family: Big Shoulders Text;
    font-style: normal;
    font-weight: bold;
    font-size: 4.5em;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}
.ItemBody { 
    align-items: flex-start;
    display: flex;
    grid-area: ItemBody; 
    justify-content: center; 
}
.enigma{
    background: #411E8F;
    border-radius: 4em;
    width: 80%;
    height: 97%;
}