body{
    align-items: center;
    background-color: #310a5d;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    width: 100vw;
    flex-direction: column;
}
#item1, #item2, #item3{
    align-items: center;
    display: flex;
    width: 70%;
}
#item1{
    height: 9%;
}
#item2{
    height: 20%;
}
#item3{
    height: 60%;
}
.txt{
    color: #f6e9e9;
    font-family: Big Shoulders Text, cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.07em;
    margin: 0 auto;
}
#header{
    font-weight: bold;
    font-size: 4.5em;
}
#texto{
    font-size: 3em;
    font-weight: 300;
}
@keyframes background{ /*NAO ABRA*/
    0% {background: url("../svg/holygrail-1.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
    50% {background: url("../svg/holygrail-2.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
    100% {background: url("../svg/holygrail-3.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
}
#img{
    animation: background 1500ms infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin: 0 auto;
    height: 100%;
    width: 45%;
}